@mixin coloroscuro {
  color: rgb(192, 67, 109);
}

.logo {
  width: 90px;
  margin-top: 18px;
}

.titulo {
  font-family: "Raleway", sans-serif;
  @include coloroscuro;
}

.menu {
  background-color: rgb(255, 201, 193);
  font-family: "Tajawal", sans-serif;
  font-size: 20px;
}
