.titulos-home {
  font-family: "Montserrat", sans-serif;
}

.texto-home {
  @extend .titulos-home;
  font-size: 18px;
}

.container-fluid {
  width: 70%;
}

.imagenes-home {
  width: 200px;
}

.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 540px;
}

.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.image-box:hover img {
  transform: scale(1.1);
}

.mapa {
  width: 420px;
  height: 220px;
  border: white solid 3px;
  margin-top: 20px;
}
